@use './../../../css/common.scss';

.timeline {
    position: relative;
    padding-top: 170px;
    padding-bottom: 104px;
    
    background-color: var(--back-white);
    width: 100%;
    border-left: 1px solid var(--border-blue);
    border-right: 1px solid var(--border-blue);

    .v-line {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background: var(--border-blue);
    }

    .wrapper {
        margin-top: 45px;
        position: relative;
        padding: 0 80px;

        & hr {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 1px;
            background: var(--border-blue);
        }
    }

    h1.main_title {
        position: absolute;
        top: 170px;
        left: 0;
        font-weight: 600;
        color: var(--black-blue);
        width: min-content;
        line-height: 1.2;
        @include common.adaptiveFont(56, 20);
        @include common.adaptiveProperty(padding-left, 80, 30);

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 5px;
            height: 90%;
            background: var(--gradient);
            z-index: 1;
        }
    }

    .circle {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 530px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid var(--border-blue);
        z-index: 10;

        .point_wrapper {
            position: absolute;
            width: 6px;
            aspect-ratio: 1/1;
            background: var(--black-blue);
            border: 1px solid var(--dark-blue);
            border-radius: 50%;
            cursor: pointer;

            span, .point {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            span {
                font-size: 20px;
                will-change: transform;
                transition: 0.3s;
                transform: translate(-50%, -50%) scale(0);
            }

            .point {
                width: 0px;
                aspect-ratio: 1/1;
                background: var(--black-blue);
                border: 1px solid var(--dark-blue);
                border-radius: 50%;
                transition: 0.4s ;
                will-change: width;
            }

            &.active, &:hover {
                .point {
                    background: var(--back-white);
                    width: 56px;
                }

                & span {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }

    .date {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 4vw;

        span {
            font-weight: 600;
            @include common.adaptiveFont(200, 56);

            &.blue {
                color: var(--light-blue );
            }
            &.purple {
                color: var(--purple);
            }
        }
    }

    .slider {
        padding-top: 100px;
        
        .swiper {
            padding: 0 80px;

            .swiper-slide {
                .slide {
                    h3 {
                        color: var(--blue);
                        font-family: var(--font-bebas);
                        margin-bottom: 15px;
                        @include common.adaptiveFont(25, 16)
                    }

                    p {
                        color: var(--black-blue);
                        line-height: 1.5;
                        @include common.adaptiveFont(20, 14)
                    }
                }
            }
        }
    }
}